@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<script src="https://browser.sentry-cdn.com/5.4.3/bundle.min.js" crossorigin="anonymous"></script>

@using Sentry

@if (SentrySdk.LastEventId != Guid.Empty)
{
    <script>
        Sentry.init({ dsn: '@Model.SentryDsn' });
        Sentry.showReportDialog({ eventId: '@SentrySdk.LastEventId' });
    </script>
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}