@model ReportWebApp.Models.ViewModels.ToolAdminIndexViewModel

@{
    ViewData["Title"] = "Tool Administration Index";
}

<h1>Index</h1>

<p>Tool admin: <span class="badge badge-info">@Model.IsToolAdmin</span>.