@model ReportWebApp.Models.ViewModels.AccountIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>Your username is <span class="badge badge-info">@Model.CurrentUsername</span>. This will be changeable.</p>
<p><a class="btn btn-outline-primary" href="@Url.Action("DraftReport", "Account")">Draft a new report</a></p>
<a class="btn btn-outline-danger" href="@Url.Action("Logout", "Account")"><i aria-hidden="true" class="fas fa-door-open"> </i>Log out of this account</a>