@model ReportWebApp.Models.ViewModels.AccountSaveReportViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Save Report</h1>
@Model.Message
<br />
<br />
<a href="@Url.Action("Index", "Account")">Account home page</a>