@model ReportWebApp.Models.ViewModels.Home.HomeIndex

@{
    ViewData["Title"] = "Reports";
}

<div class="text-center">
    <h1 class="display-4">Report tool</h1>
    <p>Future site of the report tool</p>
    <p><a class="btn btn-outline-primary" href="@Model.Message">Sign in with discord</a></p>
</div>
