@model ReportWebApp.Models.ViewModels.Discord.Signin

@{
    ViewData["Title"] = "SigninWithDiscord";
}

<h1>Sign in</h1>
<p>You should be able to <a href="@Url.Action("Index", "Account")">manage your account</a> now. You'll be able to remain logged in to this report tool site for a couple weeks unless you clear browser cookies or log out.</p>